<div class="row">

  <div class="col-md-12 text-center">
    <p>Filter by category:</p>

    <select name="category" ng-model="categorySelection" ng-change="setCategorySelection(categorySelection)" >
      <option value="">No Category Selected</option>

      <option ng-repeat="category in categories" value='{{$index}}'>{{category}}
      </option>
    </select>

  </div>

</div>

<hr>


<div ng-repeat="item in products | productByCategory ">


  <product add-to-cart='addToCart(item)' item = "item"></product>

</div>