<h2>{{categories}}</h2>
<div class="row">

  c: {{categorySelection}}
  <div class="col-md-4 text-center">
    <p>Filter by category:</p>

    <!-- <select name="category" ng-model="categorySelection">
      <option value="">No Category Selected</option>

      <option ng-repeat="category in categories" value='{{$index}}'>
        {{category}}
      </option>
    </select> -->

    <select name="category" ng-model="categorySelection" ng-change="setCategorySelection(categorySelection)" >
      <option value="">No Category Selected</option>

      <option ng-repeat="category in categories" value='{{$index}}'>
        {{category}}
      </option>
    </select>

  </div>

</div>

<hr>

<div ng-repeat="item in products | productByCategory ">

  <product item = "item"></product>

</div>