<h2>{{categories}}</h2>
<div class="row">

  c: {{categorySelection}} {{search.categoryID}}
  <div class="col-md-4 text-center">
    <p>Filter by category:</p>

    <select name="category" ng-model="search.categoryID">
      <option value="">No Category Selected</option>

      <option ng-repeat="category in categories" value='{{$index}}'>
      </option>
    </select>

  </div>

</div>

<hr>

  {{search.categoryID}}
<div ng-repeat="item in products | filter:search:strict">

  <product item = "item"></product>

</div>